
.idea/workspace.xml

.idea/

assignment1/allaboutecm.iml

assignment1/target/classes/allaboutecm/model/Album.class

assignment1/target/classes/allaboutecm/model/Entity.class

assignment1/target/classes/allaboutecm/model/Musician.class

assignment1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

assignment1/target/classes/allaboutecm/model/MusicianInstrument.class

assignment1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst

assignment1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

assignment1/target/surefire-reports/allaboutecm.model.AlbumUnitTest.txt

assignment1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

assignment1/target/classes/allaboutecm/model/MusicalInstrument.class

assignment1/target/test-classes/allaboutecm/model/AlbumUnitTest.class

assignment1/target/surefire-reports/TEST-allaboutecm.model.AlbumUnitTest.xml
